<html>

<body>
    <a href="/user/form">Build Account</a>
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Email</td>
                <td>Role</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.roleName}" ></td>
                <td>
                    <a th:href="@{'/user/form/' + ${user.id}}">Update</a>
                </td>
            </tr>
        </tbody>

    </table>
</body>

</html>